
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url("../../Static/icecream.jpg");
        background-size: 100%;
    }
</style>
@*c3752139@nwytg.net
ksr*@


<nav>
    <ul>
        <li id="nav1"><a href="http://localhost:41806/Home/Index">Magazyn</a></li>
        <li id="nav1"><a href="http://localhost:7534/Home/Index">Produkcja</a></li>
        <li id="nav2"><a href="http://localhost:10070/Home/Index">Sprzedaż</a></li>
    </ul>
</nav>

