<!DOCTYPE html>
<html>
<head>
    <link href="~/Static/Reset.css" rel="stylesheet" type="text/css" />
    <link href="~/Static/Style.css" rel="stylesheet" type="text/css" />

</head>


<body>
        @RenderBody()
</body>

<footer>
    Projekt i wykonanie: Katarzyna Trzcińska i Tomasz Kononowicz
</footer>

</html>
