<!DOCTYPE html>
<html>
<head>
    <link href="~/Static/Reset.css" rel="stylesheet" type="text/css" />
    <link href="~/Static/Style.css" rel="stylesheet" type="text/css" />
    <script src="~/Static/jquery-3.3.1.min.js"></script>

</head>


<body>

    @RenderBody()
</body>

<footer>
    Projekt i wykonanie: Katarzyna Trzcińska i Tomasz Kononowicz
</footer>



</html>


